<div id="ng-app" class="fill" ng-app="app" ng-controller="uimgrCtrl">

  <!-- OK <-> Cancel Modal dialog template -->
  <script type="text/ng-template" id="UIMgr/okCancelModal">
    <div class="modal-header">
        <h3 class="modal-title">{{okCancelModalData.title}}</h3>
    </div>
    <div class="modal-body">
        {{okCancelModalData.body}}
    </div>
    <div class="modal-footer">
      <!-- OK Button -->
      <a class="container-stretched btn btn-lg btn-success" style="display:inline"
          ng-click="ok()">
          <localize key="Ok" />
      </a>
      <a class="container-stretched btn btn-lg btn-warning" style="display:inline"
          ng-click="cancel()">
          <localize key="Cancel" />
      </a>
    </div>
  </script>

  <!-- nav-button element template -->
  <script type="text/ng-template" id="UIMgr/navButton">
    <li ng-if="button.show" 
      ng-class="{ active: button.active }">

      <!-- custom template, no button -->
      <span ng-if="!button.onClick && button.templateName"
        ng-include="button.templateName">
      </span>

      <!-- actual button -->
      <a href="" 
        ng-if="button.onClick"
        style="position: relative; vertical-align: middle;"
        ng-click="button.onClick()">

        <!-- custom template -->
        <span ng-if="button.templateName"
          ng-include="button.templateName">
        </span>

        <!-- classes -->
        <i ng-if="button.iconClasses" class="{{ button.iconClasses }}"></i>

        <!-- Text -->
        <span ng-if="!!button.getText">{{ button.getText() }}</span>

        <!-- Orange Exclamation Mark -->
        <i ng-if="button.urgentMarker"
            style="position: absolute; bottom: .5em; right: .2em; font-size: 1.6em; color: orange;"
            class="fa fa-exclamation">
        </i>

        <!-- Point badge -->
        <span ng-if="button.badgeText"
            style="position: absolute; bottom: .5em; right: .2em;"
            class="label label-badge label-{{ button.badgeType }}"
                ><span>{{ button.badgeText }}</span></span>
                <!-- <span>{{ button.badgeText > 0 ? '+' : ''}}{{button.badgeText}}</span> -->
      </a>
    </li>
  </script>

  <!-- Menu -->
  <div class="nav-main" ng-controller="uiMenuCtrl">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
            <!-- This is the hamburger button. It only shows when width gets too small. -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Navigation buttons -->
        <div class="collapse navbar-collapse" id="main-menu">
          <ul class="nav navbar-nav">
            <nav-button ng-repeat="button in navButtons.left">
            </nav-button>
          </ul>
          
          <ul class="nav navbar-nav" style="float: right">
            <nav-button ng-repeat="button in navButtons.right | orderBy: 'right'">
            </nav-button>
          </ul>
            
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
  </div>


  <!-- Content -->
  <div class="container fill no-padding">
    <!-- Pages -->
    <div ng-repeat="page in pages"
      class="fill" style="position: relative;" 
      ng-if="page.active"
      ng-include="page.templateName">
    </div>
  </div>

  <!-- Fixed "floaties" -->
  <div style="position: fixed"
    ng-repeat="element in fixedElements"
    ng-include="element.templateName">
  </div>
</div>