<div class="fill container-page" ng-controller="deviceCtrl">

<!-- ######################################################################################################################## -->
<!-- Device list -->
	<div class="panel panel-primary">
	    <div class="panel-heading">
	        <div class="panel-title">
	            <span class="">All Devices<span style="color:#DDDDDD"> ({{deviceCache.list.length || 0}}) </span></span>

                <span class="pull-right" 
                    style="vertical-align: middle"
                    ng-style="{visibility: PC.busy && 'visible' || 'hidden'}">
                        <i class="fa fa-spinner fa-spin"></i>
                </span>
	        </div>
	    </div>
	    <div class="panel-body no-padding"><ul class="list-group">
	        <li ng-repeat="device in deviceCache.list"
	            code="user = device.getUserNow()"
	            class="list-group-item no-padding"
	            ng-class="{ 'highlight-own': PC.selection.isSelected(device) }">

            	<!-- Show device Info -->
		        <div class="table table-striped some-padding"
	            	ng-click="PC.selection.toggleSelection(device); onChange(); PC.showConfig = false;">
		        	<div class="row">
                        <div class="col-xs-8">
                            <span>{{user.userName}}</span>
                        </div>
                        <div class="col-xs-4">
                            <span
                                ng-if="device.resetTimeout"
                                pulse-clock="util.getCountdownMillis(device.resetTimeout)">
                                <span ng-if="clockValue > 0"
                                     class="alert-warning">
                                    reset pending ({{ util.Math.round(clockValue/1000).toFixed(0) }} s)
                                </span>
                                <span ng-if="clockValue <= 0"
                                     class="alert-danger">
                                    reset expired
                                </span>
                            </span>
                        </div>
	                </div>
		        </div>

			<!-- ######################################################################################################################## -->
			<!-- Device Editor -->
                <form ng-if="PC.selection.isSelected(device)">
                	<div class="some-padding">
	                    <input type="text" ng-model="user.userName"
	                        ng-change="onChange()">

                        <!-- Save indicators -->
                        <span ng-style="{visibility: PC.deviceSaving && 'visible' || 'hidden'}"><i class="fa fa-spinner fa-spin"></i></span>
                        <span ng-style="{visibility: PC.deviceSaved && 'visible' || 'hidden'}" class="label label-default">saved</span>

                        <div class="vertical-space"></div>

                        <div class="some-padding"
                            style="border: solid black 1px; background-color: white;"
                            ng-if="PC.showConfig && PC.currentDeviceSettings">
                            <h4>Root password</h4>
                            <pre>{{PC.currentDeviceSettings.rootPassword}}</pre>

                            <h4>{{DEVICE.ConfigFilePath}}</h4>
                            <pre>{{util.JSON.stringify(PC.currentDeviceSettings.cfg, null, '\t')}}</pre>

                            <h4>{{PC.currentDeviceSettings.cfg.HostIdentityTokenFile}}</h4>
                            <pre>{{PC.currentDeviceSettings.identityToken}}</pre>
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="table row some-padding">
                        <a ng-disabled="PC.deviceSaving || PC.deviceSaved"
                            class="btn btn-default col-xs-3"
                            style="display:inline-block"
                            ng-click="clickSave(device, false)">
                            <localize key="Apply"></localize>
                        </a>
                        <a ng-disabled="PC.deviceSaving"
                            class="btn btn-default col-xs-3"
                            style="display:inline-block" 
                            ng-click="clickSave(device, true)">
                            <localize key="Done"></localize>
                        </a>
                        <a  ng-disabled="PC.deviceSaving"
                            class="btn btn-default col-xs-3"
                            style="display:inline-block" 
                            ng-click="showDeviceConfig(device);">
                            <span>Show Config</span>
                        </a>
                        <a  ng-disabled="PC.deviceSaving"
                            class="btn btn-default col-xs-1"
                            style="display:inline-block; visibility: hidden;" >
                            <span></span>
                        </a>
                        <span dropdown class="col-xs-2"
                          style="padding:0">
                            <a href=""
                              type="button"
                              class="btn btn-default dropdown-toggle"
                              style="width: 100%"
                              title="More">
                              <i class="fa fa-navicon"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a ng-if="currentUserIsStaff" href=""
                                        ng-click="tryResetDevice(device)">
                                        Reset!
                                    </a>
                                </li>                

                                <hr />

                                <li>
                                    <a ng-if="currentUserIsStaff" href=""
                                        ng-click="tryDeleteDevice(device)">
                                        <localize key="Delete"></localize>
                                    </a>
                                </li>
                            </ul>
                        </span>
                    </div>
                </form>
	        </li>		<!-- ng-repeat="device" -->
    	</ul></div>
	</div>

    <div class="alert alert-danger" ng-if="!!errorMessage">
        <span>
            {{errorMessage}}
        </span>
    </div>

    <div class="alert alert-info" ng-if="!PC.busy && deviceCache.list.length == 0">
        There are no registered devices yet...
    </div>

    <button class="btn btn-block btn-default"
        ng-if="!PC.selection.hasSelection()"
        ng-click="registerNewDevice('new device')">
        Add Device!

        <span ng-style="{visibility: PC.busy && 'visible' || 'hidden'}"><i class="fa fa-spinner fa-spin"></i></span>
    </button>
</div>