<div class="fill container-page" ng-controller="deviceCtrl">
    <div class="alert alert-danger" ng-if="!!errorMessage">
        <span>
            {{errorMessage}}
        </span>
    </div>

    {{PC.onPageActivate || 0}}


<!-- ######################################################################################################################## -->
<!-- Device list -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="">Devices<span style="color:#DDDDDD"> ({{deviceCache.list.length || 0}}) </span></span>

                <span class="pull-right" 
                    style="vertical-align: middle"
                    ng-style="{visibility: PC.busy && 'visible' || 'hidden'}">
                        <i class="fa fa-spinner fa-spin"></i>
                </span>
            </div>
        </div>
        <div class="panel-body no-padding">
            <ul class="list-group">

                <!-- Device Header row -->
                <li class="list-group-item no-padding">
                    <div class="table some-padding">
                        <div class="row text-bold">
                            <div class="col-xs-4">
                                <span>name</span>
                            </div>
                            <div class="col-xs-4">
                                <span>current dataset</span>
                            </div>
                            <div class="col-xs-4">
                                <span>status</span>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- Device info row -->
                <li ng-repeat="device in deviceCache.list"
                    code="user = device.getUserNow();
                            dataset = datasetCache.byId[device.currentDatasetId]"
                    class="list-group-item no-padding"
                    ng-class="{ 'highlight-own': PC.deviceSelection.isSelected(device) }">

                    <div class="table some-padding"
                        ng-click="PC.deviceSelection.toggleSelection(device); onChange(); PC.showDeviceConfig = false;">
                        <div class="row">
                            <div class="col-xs-3">
                                <span>{{ user.userName }}</span>
                            </div>
                            <div class="col-xs-5">
                                <span ng-if="!!dataset"
                                    class="alert-info">
                                    {{ dataset.datasetName }}
                                </span>
                                <span ng-if="!dataset"
                                    class="alert-warning">
                                    &lt;not assigned>
                                </span>
                            </div>
                            <div class="col-xs-4">
                                <span ng-if="device.isAssigned">
                                    <!-- if assigned, display current job -->
                                    <localize key="device.jobtype.{{DeviceJobType.getName(device.currentJobType) || ''}}"
                                        class="alert-info"></localize>
                                    <!-- <span class="alert-success">
                                        assigned
                                    </span> -->
                                </span>
                                <span ng-if="device.resetTimeout"
                                    pulse-clock="util.getCountdownMillis(device.resetTimeout)">
                                    <span ng-if="clockValue > 0"
                                         class="alert-warning">
                                        reset pending ({{ util.Math.round(clockValue/1000).toFixed(0) }} s)
                                    </span>
                                    <span ng-if="clockValue <= 0"
                                         class="alert-danger">
                                        reset expired
                                    </span>
                                </span>
                                <span ng-if="!device.resetTimeout && !device.isAssigned">
                                    <span class="alert-danger">
                                        not assigned
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                <!-- ######################################################################################################################## -->
                <!-- Device Editor -->
                    <form ng-if="PC.deviceSelection.isSelected(device)">
                        <div class="row some-padding">
                            <div class="col-xs-3">
                                <!-- Name -->
                                <input type="text" ng-model="user.userName"
                                    ng-change="onChange()">
                            </div>
                            
                            <div class="col-xs-5">
                                <!-- Dataset selection -->
                                <div class="btn-group" dropdown>
                                    <button type="button" class="btn btn-lg btn-fancy dropdown-toggle" ng-disabled="PC.busy">
                                        <span>{{ dataset.datasetName }}</span>

                                        <span ng-show="!PC.busy" class="caret"></span>
                                        <span ng-show="PC.busy"><i class="fa fa-spinner fa-spin"></i></span>
                                    </button>

                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="dataset in datasetCache.list">
                                            <a href="" ng-click="setDeviceDataset(device, dataset);">
                                                <span>{{ dataset.datasetName }}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="col-xs-4">
                                <!-- Job selection -->
                                <div class="btn-group" dropdown is-open="deviceJobDropdown.isopen">
                                    <button type="button" class="btn btn-lg btn-fancy dropdown-toggle" ng-disabled="PC.busy">
                                        <localize key="device.jobtype.{{DeviceJobType.getName(device.currentJobType) || ''}}"></localize>

                                        <span ng-show="!PC.busy" class="caret"></span>
                                        <span ng-show="PC.busy"><i class="fa fa-spinner fa-spin"></i></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li ng-repeat="jobType in DeviceJobType.getValues()">
                                            <a href="" ng-click="setDeviceJobType(device, jobType); deviceJobDropdown.isopen = false;">
                                                <localize key="device.jobtype.{{DeviceJobType.getName(jobType) || ''}}">
                                                </localize>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Save indicators -->
                            <span ng-style="{visibility: PC.deviceSaving && 'visible' || 'hidden'}"><i class="fa fa-spinner fa-spin"></i></span>
                            <span ng-style="{visibility: PC.deviceSaved && 'visible' || 'hidden'}" class="label label-default">saved</span>

                            <div class="vertical-space"></div>

                            <!-- Config -->
                            <div class="some-padding"
                                style="border: solid black 1px; background-color: white;"
                                ng-if="PC.showDeviceConfig && PC.currentDeviceSettings">
                                <h4>Root password</h4>
                                <pre>{{PC.currentDeviceSettings.rootPassword}}</pre>

                                <h4>{{DEVICE.ConfigFilePath}}</h4>
                                <pre>{{util.JSON.stringify(PC.currentDeviceSettings.cfg, null, '\t')}}</pre>

                                <h4>{{PC.currentDeviceSettings.cfg.HostIdentityTokenFile}}</h4>
                                <pre>{{PC.currentDeviceSettings.identityToken}}</pre>
                            </div>
                        </div>

                        <!-- Buttons -->
                        <div class="table row some-padding">
                            <a ng-disabled="PC.deviceSaving || PC.deviceSaved"
                                class="btn btn-default col-xs-3"
                                style="display:inline-block"
                                ng-click="clickSaveDevice(device, false)">
                                <localize key="Apply"></localize>
                            </a>
                            <a ng-disabled="PC.deviceSaving"
                                class="btn btn-default col-xs-3"
                                style="display:inline-block" 
                                ng-click="clickSaveDevice(device, true)">
                                <localize key="Done"></localize>
                            </a>
                            <a  ng-disabled="PC.deviceSaving"
                                class="btn btn-default col-xs-3"
                                style="display:inline-block" 
                                ng-click="showDeviceConfig(device);">
                                <span>Show Config</span>
                            </a>
                            <a  ng-disabled="PC.deviceSaving"
                                class="btn btn-default col-xs-1"
                                style="display:inline-block; visibility: hidden;" >
                                <span></span>
                            </a>
                            <span dropdown class="col-xs-2"
                              style="padding:0">
                                <a href=""
                                  type="button"
                                  class="btn btn-default dropdown-toggle"
                                  style="width: 100%"
                                  title="More">
                                  <i class="fa fa-navicon"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a ng-if="currentUserIsStaff" href=""
                                            ng-click="tryResetDevice(device)">
                                            <i class="fa fa-rotate-left"></i>&nbsp; Reset
                                        </a>
                                    </li>         

                                    <hr />

                                    <li>
                                        <a ng-if="currentUserIsStaff" href=""
                                            ng-click="tryDeleteDevice(device)">
                                            <i class="fa fa-trash"></i>&nbsp; <localize key="Delete"></localize>
                                        </a>
                                    </li>
                                </ul>
                            </span>
                        </div>
                    </form>
                </li>       <!-- ng-repeat="device" -->
            </ul>

            <div class="alert alert-info" ng-if="!PC.busy && deviceCache.list.length == 0">
                <span>There are no registered devices yet...</span>
            </div>

            <!-- Device buttons -->
            <div style="position:relative; height: 4em;">
                <div class="container-centered-flexbox"
                    ng-if="!PC.deviceSelection.hasSelection()">
                    <div style="margin:auto; position:relative;">
                        <a class="btn btn-default" href=""
                            ng-if="currentUserIsStaff"
                            ng-disabled="PC.busy"
                            ng-click="registerNewDevice('new device')">
                            <i class="fa fa-plus"></i>&nbsp; Add Device!

                            <span ng-style="{visibility: PC.busy && 'visible' || 'hidden'}"><i class="fa fa-spinner fa-spin"></i></span>
                        </a>

                        <span dropdown class="no-padding" style="position:relative;">
                            <a href=""
                              type="button"
                              class="btn btn-default dropdown-toggle"
                              title="More">
                              <i class="fa fa-navicon"></i>
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href=""
                                        ng-if="currentUserIsStaff"
                                        ng-click="downloadImage()">
                                        <i class="fa fa-download"></i>&nbsp; Download image
                                    </a>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>  <!-- panel-body -->
    </div>     <!-- Devices panel -->


<!-- ######################################################################################################################## -->
<!-- Dataset list -->
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="">Datasets<span style="color:#DDDDDD"> ({{datasetCache.list.length || 0}}) </span></span>

                <span class="pull-right"
                    style="vertical-align: middle"
                    ng-style="{visibility: PC.busy && 'visible' || 'hidden'}">
                        <i class="fa fa-spinner fa-spin"></i>
                </span>
            </div>
        </div>
        <div class="panel-body no-padding">
            <ul class="list-group">
                <!-- Dataset Header row -->
                <li class="list-group-item no-padding">
                    <div class="table table-striped some-padding"
                        ng-click="PC.datasetSelection.toggleSelection(dataset); onChange();">
                        <div class="row text-bold">
                            <div class="col-xs-3">
                                <span>name</span>
                            </div>
                            <div class="col-xs-5">
                                <span>devices</span>
                            </div>
                            <div class="col-xs-4">
                                <span>created</span>
                            </div>
                        </div>
                    </div>
                </li>


                <!-- Show dataset Info -->
                <li ng-repeat="dataset in datasetCache.list"
                    class="list-group-item no-padding"
                    ng-class="{ 'highlight-own': PC.datasetSelection.isSelected(dataset) }">

                    <div class="table table-striped some-padding"
                        ng-click="PC.datasetSelection.toggleSelection(dataset); onChange();">
                        <div class="row">
                            <div class="col-xs-3">
                                <span>{{dataset.datasetName}}</span>
                            </div>
                            <div class="col-xs-5">
                                <span ng-repeat="deviceRelation in dataset.deviceRelations">
                                    <span code="device = deviceCache.byId[deviceRelation.deviceId];
                                            user = device.getUserNow();"
                                        style="background-color: lightgrey">
                                        {{ user.userName }}
                                    </span>&nbsp;
                                </span>
                            </div>
                            <div class="col-xs-4">
                                <span>{{ dataset.createdAt && util.moment(dataset.createdAt).calendar() || '&lt;unknown>' }}</span>
                            </div>
                        </div>
                    </div>

                    <form ng-if="PC.datasetSelection.isSelected(dataset) && currentUserIsStaff">
                        <div class="row some-padding">
                            <div class="col-xs-3">
                                <!-- Name -->
                                <input type="text" ng-model="dataset.datasetName"
                                    ng-change="onDatasetNameChanged(dataset)">
                            </div>

                            <div class="col-xs-5">
                                <span ng-repeat="deviceRelation in dataset.deviceRelations">
                                    <a class="btn btn-default"
                                        code="device = deviceCache.byId[deviceRelation.deviceId];
                                            user = device.getUserNow();"
                                        style="background-color: lightgrey"
                                        ng-click="removeDeviceFromDataset(device, dataset)">
                                        {{ user.userName }}
                                        <i class="fa fa-times red"></i>
                                    </a>&nbsp;
                                </span>
                            </div>

                            <div class="col-xs-4">
                            </div>
                        </div>
                    </form>
                </li>
            </ul>


            <!-- Dataset buttons -->
            <div style="position:relative; height: 4em;">
                <div class="container-centered-flexbox"
                    ng-if="!PC.datasetSelection.hasSelection()">
                    <div style="margin:auto; position:relative;">
                        <a class="btn btn-default" href=""
                            ng-if="currentUserIsStaff"
                            ng-disabled="PC.busy"
                            ng-click="startNewDataset('new dataset')">
                            <i class="fa fa-plus"></i>&nbsp; Start new dataset!

                            <span ng-style="{visibility: PC.busy && 'visible' || 'hidden'}"><i class="fa fa-spinner fa-spin"></i></span>
                        </a>

                        <span dropdown class="no-padding" style="position:relative;">
                            <a href=""
                              type="button"
                              class="btn btn-default dropdown-toggle"
                              title="More">
                              <i class="fa fa-navicon"></i>
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href=""
                                        ng-if="currentUserIsStaff"
                                        ng-click="downloadImage()">
                                        <!-- <i class="fa fa-download"></i>&nbsp; Download image -->
                                    </a>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>