<div class="fill container-page" ng-controller="macCtrl">


<!-- <pre>{{PC.macGraphData}}</pre> -->
<mac-info mac-id="PC.currentMacId">
</mac-info>

<!-- Some "interesting" MAC addresses -->
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title"><span>
				most connected MAC addresses
				<i class="fa fa-spinner fa-spin"
					ng-if="PC.busy"></i>
			</span></div>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<th class="col-xs-1">
						
					</th>
					<th class="col-xs-3">
						# networks
					</th>
					<th class="col-xs-5">
						MAC
					</th>
					<th class="col-xs-3">
					</th>
				</thead>
				<tbody>
					<tr ng-repeat="macEntry in PC.mostConnectedMACs"
						ng-class="{'highlight-own': PC.currentMacId == macEntry.macId}">
						<td class="col-xs-1">
							{{$index + 1}}.
						</td>
						<td class="col-xs-3">
							{{macEntry.count}}
						</td>
						<td class="col-xs-5">
							{{macEntry.macAddress}}
						</td>
						<td class="col-xs-3">
							<a ng-click="visualizeMACAddress(macEntry.macId)"
								class="btn btn-large btn-default">
								Visualize <i class="fa fa-arrow-circle-o-right"></i>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>