<div class="fullscreen_page" ng-controller="liveCtrl"
	style="background-color: black; color: white; overflow: auto;">

	<div>
		<div class="vertical-space"></div>

		<seven-seg 
			settings="{ digits: 5, value: _.result(_.find(PC.deviceCounts, {'deviceId': 0}), 'count') || 0 }">
		</seven-seg>

		<div class="vertical-space"></div>

		<div style="vertical-align: middle" class="some-padding">
			<span ng-repeat="timeFrame in PC.PeopleCounterTimeFrames">
				<a class="btn btn-dark"
					ng-class="{ active: timeFrame.asMilliseconds() == PC.currentTimeFrame.asMilliseconds()}"
					ng-click="PC.currentTimeFrame = timeFrame">
					{{timeFrame.humanize()}}
				</a>
				&nbsp;
			</span>

			<span style="display: inline-block; width: 6em;"></span>

			<a class="btn btn-dark"
				ng-click="toggleBottomPanel(PC.showPerDeviceInfo = !PC.showPerDeviceInfo);"
				ng-class="{ active: PC.showPerDeviceInfo}">
				per device

				<i class="fa fa-"></i>
			</a>

		    <span class="pull-right" style="vertical-align: middle">
				<a class="btn"
					ng-style="{ visibility: PC.annotatingMacs && 'hidden' || '' }"
					ng-class="{ 'btn-dark': !PC.refreshPaused, 'btn-success': PC.refreshPaused }"
					ng-click="PC.refreshPaused = !PC.refreshPaused">
					<span ng-if="PC.refreshPaused">
						Start!
					</span>
					<span ng-if="!PC.refreshPaused">
						Stop!
					</span>
				</a>

		        <i class="fa fa-spinner fa-spin"
		        	ng-style="{visibility: PC.busy && 'visible' || 'hidden'}"></i>
		    </span>
		</div>
	</div>

	<div>
		<div class=""
			ng-show="BottomPanelOpen"
			ng-style="{ height: BottomPanelCurrentHeight }">
			<span ng-repeat="devicePeopleCount in PC.deviceCounts"
				ng-if="devicePeopleCount.deviceId"
				style="vertical-align: middle">
				<span style="vertical-align: middle">
					{{ deviceCache.byId[devicePeopleCount.deviceId].getUserNow().userName }}</span> &nbsp;
					<seven-seg 
					settings="{ digits: 5, value: devicePeopleCount.count || 0}"
					style="display: inline-block; height: 20px; width: 70px; vertical-align: middle;">
				</seven-seg>
				<span style="display: inline-block; width: 6em;"></span>
			</span>

		</div>
	</div>
</div>