<div class="fullscreen_page" ng-controller="liveCtrl"
	style="background-color: black; color: white; overflow: auto;">

	TODO: Fix VisPage!

	<div ng-style="{ 
			height: 'calc(100% - ' + BottomPanelCurrentHeight + ')',
			position: 'fixed',
			left: 0,
			right: 0,
			top: '34px',
			bottom: BottomPanelCurrentHeight,
			overflow: 'hidden'
		}">
		<div class="vertical-space"></div>

		<seven-seg 
			settings="{ digits: 5, value: _.result(_.find(PC.deviceCounts, {'deviceId': 0}), 'count') || 0 }">
		</seven-seg>

		<div class="vertical-space"></div>

		<div style="vertical-align: middle">
			<span ng-repeat="timeFrame in PC.PeopleCounterTimeFrames">
				<a class="btn btn-dark"
					ng-class="{ active: timeFrame.asMilliseconds() == PC.currentTimeFrame.asMilliseconds()}"
					ng-click="PC.currentTimeFrame = timeFrame">
					{{timeFrame.humanize()}}
				</a>
				&nbsp;
			</span>

		    <span class="pull-right" style="vertical-align: middle">
				<a class="btn"
					ng-style="{ visibility: PC.annotatingMacs && 'hidden' || '' }"
					ng-class="{ 'btn-dark': !PC.refreshPaused, 'btn-success': PC.refreshPaused }"
					ng-click="PC.refreshPaused = !PC.refreshPaused">
					<span ng-if="PC.refreshPaused">
						Start!
					</span>
					<span ng-if="!PC.refreshPaused">
						Stop!
					</span>
				</a>

		        <i class="fa fa-spinner fa-spin"
		        	ng-style="{visibility: PC.busy && 'visible' || 'hidden'}"></i>
		    </span>
		</div>
	</div>

	<div>
		<div class=""
			ng-show="BottomPanelOpen"
			ng-style="{ height: BottomPanelCurrentHeight }">

			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="panel-title" style="vertical-align: middle"><span style="vertical-align: middle">
						people count per device
						&nbsp;
						&nbsp;

		                <span class="pull-right" style="vertical-align: middle">
		                    <i class="fa fa-spinner fa-spin" ng-show="PC.busy"></i>
		                </span>
					</span></div>
				</div>
				<div class="panel-body">
					<div ng-repeat="devicePeopleCount in PC.deviceCounts"
						ng-if="devicePeopleCount.deviceId">
						<span>
							{{ deviceCache.byId[devicePeopleCount.deviceId].getUserNow().userName }}
						</span>
						<seven-seg 
							settings="{ digits: 5, value: devicePeopleCount.count || 0}"
							style="display: inline-block; height: 20px; width: 70px;">
						</seven-seg>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>