<div class="fill container-page" ng-controller="liveCtrl">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title"><span>
				live packets
				<i class="fa fa-spinner fa-spin"
					ng-if="PC.busy"></i>
			</span></div>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<th class="col-xs-3">MAC</th>
					<th class="col-xs-3">SSID</th>
					<th class="col-xs-3">sigstr</th>
					<th class="col-xs-3">when</th>
				</thead>
				<tbody>
					<tr ng-repeat="packet in PC.packets | orderBy: '-updatedAt'"
						code="packetDate = util.moment(util.Math.round(packet.time * 1000))">
						<td class="col-xs-3">{{ packet.MACAddress.macAddress }}</td>
						<td class="col-xs-3">{{ packet.SSID.ssidName }}</td>
						<td class="col-xs-3">{{packet.signalStrength}}</td>
						<td class="col-xs-3">{{packetDate.format('LLL')}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>